<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Doctors</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="AdmnStyles.css">



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- JS For Update & New Doctor Modal -->
<script type="text/javascript">
	$('document').ready(function() {
		$(' #addButton').on('click', function(event) {

			$('#addModal').modal();
		});
		$('table #editButton').on('click', function(event) {

			event.preventDefault();

			var href = $(this).attr('href')

			$.get(href, function(doctor) {
				$('#id').val(doctor.id);
				$('#name').val(doctor.name);
				$('#email').val(doctor.email);
				$('#telephone').val(doctor.telephone);
				$('#specialty').val(doctor.specialty);
				$('#password').val(doctor.password);
				$('#image').val(doctor.image);
			});

			$('#editModal').modal();
		});
	});
</script>


<!-- show uploaded image -->
<script type="text/javascript">
	$(document).ready(function() {

	});
	function showImageThumbnail(fileInput) {
		file = fileInput.files[0];
		reader = new FileReader();
		reader.onload = function(e) {
			$('#thumbnail').attr('src', e.target.result)
		};
		reader.readAsDataURL(file);
	}
</script>



<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>




<style type="text/css">
.input-group {
	padding-top: 25px
}
</style>

</head>

<body>
	<div class="container">
		<div class="navigation">
			<ul>
				<li><a href=""> <span class="icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><img
								src="AdminImages/logoHome.png" width="250px" height="60px"></i></span>
				</a></li>
				<li><a th:href="@{/AdminPanelHomeForm}"> <span
						class="title">Dashboard</span>
				</a></li>
				<li><a th:href="@{/ViewUserForm}"> <span class="title">Manage
							User</span></a></li>
				<li><a th:href="@{/ViewDoctor}"> <span class="title">Doctors</span>
				</a></li>
				<li><a th:href="@{/ViewPatientForm}"> <span class="title">Patients</span>
				</a></li>
				<li><a th:href="@{/AddScheduleForm}"> <span class="title">Add
							Schedule</span>
				</a></li>
				<li><a th:href="@{/ViewScheduleForm}"> <span class="title">Schedule</span>
				</a></li>
				<li><a th:href="@{/ViewReportForm}"> <span class="title">Reports</span>
				</a></li>
				<li><a th:href="@{/AdminLogout}"> <span class="title">Sign
							Out</span>
				</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="card-header card-header-primary"
				style="background-color: honeydew;">
				<h1>
					<b>Doctor</b>
				</h1>
			</div>
			<div class="card-header card-header-primary"
				style="background: honeydew; margin-top: 80px;">
				<a th:href="@{/addDoctorForm}" class="btn btn-primary">Add New Doctor</a>
				<br> <br>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th></th>
							<th>Doctor Name</th>
							<th></th>
							<th>Specialty</th>
							<th>Email</th>
							<th>Telephone</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="doctor : ${listDoctor}">
							<td th:text="${doctor.id}"></td>
							<td>Dr.</td>
							<td th:text="${doctor.name}"></td>
							<td><img th:src="@{${doctor.DoctorImagePath}}"
								style="width: 100px; height: 100px"></td>
							<td th:text="${doctor.specialty}"></td>
							<td th:text="${doctor.email}"></td>
							<td th:text="${doctor.telephone}"></td>
							<td><a
								th:href="@{/updateDoctorForm/(id=${doctor.id})}"
								class="btn btn-primary">Update</a> <a
								th:href="@{/ViewDoctor/deleteDoctor/{id}(id=${doctor.id})}"
								class="btn btn-danger">Delete</a>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<!-- Add New Doctor Modal -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="background: honeydew;">
				<div class="modal-header">
					<h1 id="exampleModalLabel" style="font-weight: 700;">
						<b>Add New Doctor</b>
					</h1>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"
					style="background: #d3d4d4; padding-top: 50px">
					<form th:action="@{/ViewDoctor/saveDoctor}" method="POST"
						enctype="multipart/form-data">
						<div class="card-header card-header-primary"
							style="background-color: honeydew;">
							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<input type="text" class="form-control"
									placeholder="Enter Full Name" aria-label="Enter Full Name"
									aria-describedby="basic-addon1" name="name">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<input type="text" class="form-control"
									placeholder="Enter Email" aria-label="Enter Email"
									aria-describedby="basic-addon1" name="email">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<input type="text" class="form-control"
									placeholder="Enter Telephone" aria-label="Enter Telephone"
									aria-describedby="basic-addon1" name="telephone">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<div class="input-group-prepend">
									<input type="file" class="form-control" style="width: 650px"
										id="fileImage" name="fileImage"
										accept="image/jpg, imahge/png, image/jpeg">
								</div>
							</div>
							<div class="input-group mb-3"
								style="margin-right: 10px; padding-left: 20px;">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect01">Specialty</label>
								</div>
								<select class="custom-select" name="specialty">
									<option th:value="'Cardiologists'" th:text="Cardiologists"></option>
									<option th:value="'Dermatologists'" th:text="Dermatologists"></option>
									<option th:value="'Hematologists'" th:text="Hematologists"></option>
									<option th:value="'Neurologists'" th:text="Neurologists"></option>
									<option th:value="'Pediatricians'" th:text="Pediatricians"></option>
									<option th:value="'Physiatrists'" th:text="Physiatrists"></option>
									<option th:value="'Radiologists'" th:text="Radiologists"></option>
									<option th:value="'Urologists'" th:text="Urologists"></option>
								</select>

							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<input type="password" class="form-control"
									placeholder="Enter Password" aria-label="Enter Password"
									aria-describedby="basic-addon1" name="password">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<input type="password" class="form-control"
									placeholder="Confirm Password" aria-label="Confirm Password"
									aria-describedby="basic-addon1">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Add
									Doctor</button>

							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>




	<!-- Update New Doctor Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="background: honeydew;">
				<div class="modal-header">
					<h1 id="exampleModalLabel" style="font-weight: 700;">
						<b>Update Doctor</b>
					</h1>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"
					style="background: #d3d4d4; padding-top: 50px">
					<form th:action="@{/ViewDoctor/updateDoctor}" method="POST"
						enctype="multipart/form-data">
						<div class="card-header card-header-primary"
							style="background-color: honeydew;">
							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<input type="text" class="form-control"
									placeholder="Enter Full Name" aria-label="Enter Full Name"
									aria-describedby="basic-addon1" name="id" id="id" readonly>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<input type="text" class="form-control"
									placeholder="Enter Full Name" aria-label="Enter Full Name"
									aria-describedby="basic-addon1" name="name" id="name">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<input type="text" class="form-control"
									placeholder="Enter Email" aria-label="Enter Email"
									aria-describedby="basic-addon1" name="email" id="email">
							</div>


							<div class="input-group mb-3">
								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<input type="text" class="form-control"
									placeholder="Enter Telephone" aria-label="Enter Telephone"
									aria-describedby="basic-addon1" name="telephone" id="telephone">
							</div>
								<input type="hidden" class="form-control"
									placeholder="Enter Email" aria-label="Enter Email"
									aria-describedby="basic-addon1" name="image" id="image">
							<div class="input-group mb-3">

								<div class="input-group-prepend" style="padding-left: 20px;">
									<span class="input-group-text" id="basic-addon1"></span>
								</div>
								<div class="input-group-prepend">
									<input type="file" class="form-control" style="width: 650px"
										id="fileImage" name="fileImage"
										accept="image/jpg, imahge/png, image/jpeg" value="">
								</div>
							</div>
							<div class="input-group mb-3"
								style="margin-right: 20px; padding-left: 20px;">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect01">Specialty</label>
								</div>
								<select class="custom-select" name="specialty" id="specialty">
									<option th:value="'Cardiologists'" th:text="Cardiologists"></option>
									<option th:value="'Dermatologists'" th:text="Dermatologists"></option>
									<option th:value="'Hematologists'" th:text="Hematologists"></option>
									<option th:value="'Neurologists'" th:text="Neurologists"></option>
									<option th:value="'Pediatricians'" th:text="Pediatricians"></option>
									<option th:value="'Physiatrists'" th:text="Physiatrists"></option>
									<option th:value="'Radiologists'" th:text="Radiologists"></option>
									<option th:value="'Urologists'" th:text="Urologists"></option>
								</select>

							</div>

							<div class="modal-footer">
								<input type="hidden" class="form-control"
									placeholder="Enter Password" aria-label="Enter Password"
									aria-describedby="basic-addon1" name="password" id="password">
								<input type="hidden" class="form-control"
									placeholder="Confirm Password" aria-label="Confirm Password"
									aria-describedby="basic-addon1">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Update
									Doctor</button>

							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>




</body>



</html>